/*
 * Skin: TDB
 * -----------
 */
/* skin-tdb navbar */
.skin-tdb .main-header {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.skin-tdb .main-header .navbar-toggle {
  color: #f9f9f9;
}
.skin-tdb .main-header .navbar-brand {
  color: #f9f9f9;
  border-right: 1px solid #13343e;
}
.skin-tdb .main-header .navbar {
  background-color: #153a46;
}
.skin-tdb .main-header .navbar .nav > li > a {
  color: #f9f9f9;
}
.skin-tdb .main-header .navbar .nav > li > a:hover,
.skin-tdb .main-header .navbar .nav > li > a:active,
.skin-tdb .main-header .navbar .nav > li > a:focus,
.skin-tdb .main-header .navbar .nav .open > a,
.skin-tdb .main-header .navbar .nav .open > a:hover,
.skin-tdb .main-header .navbar .nav .open > a:focus,
.skin-tdb .main-header .navbar .nav > .active > a {
  background: #f9f9f9;
  color: #13343e;
}
.skin-tdb .main-header .navbar .sidebar-toggle {
  color: #f9f9f9;
}
.skin-tdb .main-header .navbar .sidebar-toggle:hover {
  color: #13343e;
  background: #f9f9f9;
}
.skin-tdb .main-header .navbar > .sidebar-toggle {
  color: #f9f9f9;
  border-right: 1px solid #13343e;
}
.skin-tdb .main-header .navbar .navbar-nav > li > a {
  border-right: 1px solid #13343e;
}
.skin-tdb .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-tdb .main-header .navbar .navbar-right > li > a {
  border-left: 1px solid #13343e;
  border-right-width: 0;
}
.skin-tdb .main-header > .logo {
  background-color: #153a46;
  color: #f9f9f9;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #13343e;
}
.skin-tdb .main-header > .logo:hover {
  background-color: #143742;
}
@media (max-width: 767px) {
  .skin-tdb .main-header > .logo {
    background-color: #153a46;
    color: #f9f9f9;
    border-bottom: 0 solid transparent;
    border-right: none;
  }
  .skin-tdb .main-header > .logo:hover {
    background-color: #143742;
  }
}
.skin-tdb .main-header li.user-header {
  background-color: #153a46;
}
.skin-tdb .main-footer {
  background-color: #153a46;
  color: #f9f9f9;
  border-color: #13343e;
}
.skin-tdb .content-header {
  background: transparent;
  box-shadow: none;
}
.skin-tdb .wrapper,
.skin-tdb .main-sidebar,
.skin-tdb .left-side {
  background-color: #222d32;
}
.skin-tdb .user-panel > .info,
.skin-tdb .user-panel > .info > a {
  color: #fff;
}
.skin-tdb .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-tdb .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-tdb .sidebar-menu > li:hover > a,
.skin-tdb .sidebar-menu > li.active > a,
.skin-tdb .sidebar-menu > li.menu-open > a {
  color: #fff;
  background: #1e282c;
}
.skin-tdb .sidebar-menu > li.active > a {
  border-left-color: #f9f9f9;
}
.skin-tdb .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-tdb .sidebar a {
  color: #b8c7ce;
}
.skin-tdb .sidebar a:hover {
  text-decoration: none;
}
.skin-tdb .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-tdb .sidebar-menu .treeview-menu > li.active > a,
.skin-tdb .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-tdb .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-tdb .sidebar-form input[type="text"],
.skin-tdb .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-tdb .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-tdb .sidebar-form input[type="text"]:focus,
.skin-tdb .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-tdb .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-tdb .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-tdb .pace .pace-progress {
  background: #0f2a32;
}
.skin-tdb .pace .pace-activity {
  border-top-color: #0f2a32;
  border-left-color: #0f2a32;
}
.skin-tdb .content-wrapper {
  background-color: #0f2a32;
  color: #f9f9f9;
}
.skin-tdb .box {
  background-color: #1b4b59;
}
.skin-tdb .box .box-header,
.skin-tdb .box .box-body,
.skin-tdb .box .box-footer {
  background-color: #1b4b59;
  color: #e0e0e0;
  border-color: #153a46;
}
.skin-tdb .box .with-border {
  border-color: #153a46;
}
.skin-tdb .form-control {
  background-color: #11313a;
  color: #f9f9f9;
  border-color: #153a46;
}
.skin-tdb ul.timeline li.time-label > span.bg-white {
  background-color: #11313a;
  color: #f9f9f9;
  border-color: #153a46;
}
.skin-tdb ul.timeline li div.timeline-item {
  padding: 10px;
  background-color: #276c80;
  color: #f9f9f9;
  border-color: #153a46;
}
.skin-tdb ul.timeline li div.timeline-item .time {
  color: #f9f9f9;
}
.skin-tdb ul.timeline li div.timeline-item .timeline-header,
.skin-tdb ul.timeline li div.timeline-item .timeline-body,
.skin-tdb ul.timeline li div.timeline-item .timeline-footer {
  border-color: #153a46;
  color: #f9f9f9;
}
.skin-tdb ul.timeline li div.timeline-item .timeline-header > a,
.skin-tdb ul.timeline li div.timeline-item .timeline-body > a,
.skin-tdb ul.timeline li div.timeline-item .timeline-footer > a,
.skin-tdb ul.timeline li div.timeline-item .timeline-header > a:hover,
.skin-tdb ul.timeline li div.timeline-item .timeline-body > a:hover,
.skin-tdb ul.timeline li div.timeline-item .timeline-footer > a:hover {
  color: #b4dde9;
}
.skin-tdb .info-box {
  min-height: inherit;
}
.skin-tdb .info-box .info-box-icon {
  height: inherit !important;
  line-height: inherit !important;
  font-size: 25px !important;
  width: 45px !important;
}
.skin-tdb .info-box .info-box-content {
  padding: 5px 10px;
  margin-left: 45px;
  color: #f9f9f9;
  background-color: #1b4b59;
  border-bottom: thin solid #153a46;
}
.skin-tdb .info-box .info-box-text {
  display: inline !important;
}
.skin-tdb .info-box .info-box-number {
  display: inline !important;
}
